@use '$/abstracts/' as *;

.heroSection {
	width: 90%;
	height: 100vh;
	max-height: 837px;
	@include flexbox();
	@include align-items(center);
	@include justify-content(space-between);

	.heroFirstHalf {
		width: 60%;
		max-width: 738px;
		h1 {
			margin-bottom: pxToRem(10px);
		}

		h2 {
			margin-bottom: pxToRem(44px);
		}

		.colorHighlight {
			color: $txt-highlight-100;
		}
		.sizeHighlight {
			text-transform: uppercase;
			font-weight: 700;
		}

		p {
			max-width: 620px;
			margin-bottom: pxToRem(46px);
		}

		.links {
			width: 95%;
			margin-bottom: pxToRem(69px);
			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			& > :first-child {
				margin-right: 30px;
			}
		}
	}

	.heroSecondHalf {
		position: relative;
		width: 40%;
		height: 100%;
		padding-top: pxToRem(71px);

		img {
			width: 100%;
			height: auto;
		}
	}

	@include breakpoint(l) {
		width: 100%;
		height: auto;
		max-height: none;
		flex-direction: column-reverse;

		@include justify-content(center);
		@include align-items(start);

		.heroFirstHalf {
			width: 100%;
		}
		.heroSecondHalf {
			align-self: center;
			height: auto;
			width: pxToRem(600px);
			min-width: 340px;
			margin-bottom: pxToRem(50px);
		}
	}

	@include breakpoint(xs) {
		width: 100%;
		margin-top: 50px;

		@include align-items(center);

		.heroFirstHalf {
			h1 {
				margin-bottom: pxToRem(30px);
			}
			h2 {
				margin-bottom: pxToRem(100px);
			}
			p {
				margin-bottom: pxToRem(100px);
			}
		}

		.heroSecondHalf {
			margin-bottom: 30px;
		}
	}
}
