@use '$/abstracts/' as *;

.main {
	width: 90%;
	max-width: 1500px;
	padding-left: pxToRem(144px);

	@include breakpoint(m) {
		padding-left: pxToRem(105px);
	}

	@include breakpoint(s) {
		padding-left: pxToRem(80px);
	}
}
