@use '../abstracts/' as *;

::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

*,
*:before,
*:after {
	box-sizing: inherit;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: -ms-autohiding-scrollbar; /* IE 10+ */
}

html body {
	position: relative;
	color: $txt-light-50;
	background: $bg-color-dark;
	overflow-x: hidden;
	min-height: 100vh;
	min-width: 100vw;
	padding-top: pxToRem(40.47px);
	max-width: 2000px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

@include breakpoint(xl) {
	#html {
		font-size: 15px;
	}
}

@include breakpoint(l) {
	#html {
		font-size: 12px;
	}
	html body {
		padding-top: pxToRem(100px);
	}
}
@include breakpoint(m) {
	#html {
		font-size: 9px;
	}
}
@include breakpoint(s) {
	#html {
		font-size: 7px;
	}
}
@include breakpoint(xs) {
	#html {
		font-size: 4px;
	}
}
