// Google Fonts
@font-face {
	font-family: 'Titillium Web';
	src: url(https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap);
}

@font-face {
	font-family: 'Space Grotesk';
	src: url(https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap);
}

@font-face {
	font-family: 'Open Sans';
	src: url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);
}

// Font Variables
$font-txt: 'Open Sans', sans-serif;
$font-header: 'Space Grotesk', sans-serif;
$font-logo: 'Titillium Web', sans-serif;