@use '$/abstracts/' as *;

.displayBigScreen {
	@include flexbox();
}

.displaySmallScreen {
	display: none;
}

.cardLive {
	@include flexbox(row);
	@include align-items(center);
	@include justify-content(space-between);
	margin-bottom: pxToRem(50px);
	.techLogos {
		margin-bottom: pxToRem(28px);

		margin: 0 1rem 0 0;
		& > * {
			margin-right: 1rem !important;
		}
		img {
			margin-right: pxToRem(18px);
		}
	}
	a {
		color: $txt-blue;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		white-space: nowrap;
	}
}

.projectCard {
	width: 100%;
	max-width: 100%;
	padding-right: 100px;
	margin-bottom: pxToRem(100px);

	.showPhone {
		display: none;
	}
	.hidePhone {
		display: block;
	}

	.cardFirstHalf {
		width: 100%;
		margin-bottom: pxToRem(30px);

		@include flexbox();
		@include justify-content(space-between);

		.imgWrapper {
			position: relative;
			width: 100%;
			max-width: 455px;
			max-height: 172px;
			flex-shrink: 0;
		}

		.cardDetails {
			display: grid;
			grid-template-columns: 1fr 7fr;
			margin: 0 2rem;

			.weightHighlight {
				font-weight: 700;
				margin-right: 10px;
			}
		}
	}

	.cardSecondHalf {
		width: 100%;

		h4 {
			display: inline-block;
			text-transform: uppercase;
			text-decoration: underline;
			line-height: 30px;
			text-underline-position: under;
			margin-bottom: pxToRem(20px);
		}
		p {
			max-width: 1000px;
			margin-bottom: 20px;
		}
		a {
			color: $txt-blue;
			text-transform: uppercase;
			font-size: 20px;
		}
	}
}

@keyframes hover {
	50% {
		transform: translateY(-3px);
	}

	100% {
		transform: translateY(-6px);
	}
}

.githubLink,
.liveLink {
	display: inline-block;
	transition-duration: 0.5s;
	transition-property: transform;

	&:hover {
		transform: translateY(-6px);
		animation-name: hover;
		animation-duration: 1.5s;
		animation-delay: 0.3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}

@include breakpoint(xxl) {
	.projectCard {
		.cardFirstHalf {
			.cardDetails {
				grid-template-columns: 1fr 5fr;
			}
		}
	}
}
@include breakpoint(l) {
	.displayBigScreen {
		display: none;
	}
	.displaySmallScreen {
		@include flexbox(column);
	}

	.projectCard {
		padding-right: 0;
		.cardFirstHalf {
			flex-direction: column;

			.imgWrapper {
				margin-bottom: pxToRem(30px);
				max-width: none;
				max-height: none;
			}
			.cardDetails {
				margin: 0;
				grid-template-columns: 1fr 3fr;
				margin-bottom: pxToRem(50px);
			}
		}
	}
}
@include breakpoint(s) {
	.projectCard {
		margin-bottom: pxToRem(150px);
		.cardFirstHalf {
			.cardDetails {
				grid-template-columns: 1fr 2fr;
			}
		}
	}
}

@include breakpoint(xs) {
	.cardLive {
		margin-bottom: 30px;
	}
	.projectCard {
		margin-bottom: 80px;
		.showPhone {
			display: inline-block;
		}
		.hidePhone {
			display: none;
		}
		.cardFirstHalf {
			margin-bottom: 20px;
			h4 {
				white-space: nowrap;
				color: $txt-blue;
				border: none;
				text-decoration: underline;
				text-underline-position: under;
				line-height: 30px;
				display: inline-block;
				text-transform: uppercase;
				margin-bottom: 20px;
				margin-top: 10px;
			}
		}
	}
}
