@use '../../sass/abstracts/' as *;

.projectsSection {
	width: 90%;
	margin-top: pxToRem(70px);

	h3 {
		margin-bottom: pxToRem(30px);

		.colorHighlight {
			color: $txt-highlight-100;
		}
	}

	.imgWrapper {
		margin-top: pxToRem(69px);
	}

	@include breakpoint(l) {
		margin-top: pxToRem(150px);
		h3 {
			margin-bottom: pxToRem(70px);
		}
	}
	@include breakpoint(s) {
		h3 {
			margin-bottom: pxToRem(120px);
		}
	}
	@include breakpoint(xs) {
		width: 100%;
		margin-top: 60px;
	}
}
