@use '$/abstracts/' as *;

.dataListCard {
	width: 100%;
	margin-bottom: pxToRem(43px);

	@include flexbox(column);

	.cardHeaderWrapper,
	.cardHeaderWrapper div {
		@include flexbox();
		@include justify-content(space-between);

		p.cardTimeRange {
			font-family: $font-header;
			font-size: 20px;
			font-weight: 300;
		}
	}

	.cardHeader,
	.cardRole {
		text-transform: uppercase;
		font-family: $font-header;
		font-size: 20px;
		font-weight: 700;
	}
	.cardHeader {
		color: $txt-highlight-100;
		margin-right: pxToRem(19px);
		margin-bottom: pxToRem(30px);
	}
	h2.cardHeader {
		color: $txt-light-100;
	}

	.cardList {
		.cardListItem {
			@include flexbox();
			@include align-items(center);
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 10px;
			&:before {
				content: '';
				background: url(/icons/icon-bulletpoint.svg) no-repeat;
				width: 13px;
				height: 13px;
				min-width: 13px;
				min-height: 13px;
				display: inline-block;
				margin-right: pxToRem(37px);
			}
		}
	}

	.cardListItem {
		margin-bottom: 10px;
	}
	.colorHighlight {
		color: $txt-highlight-100;
	}
}
