@use '@/sass/abstracts' as *;

.main {
	box-sizing: border-box;
	width: 90%;
	padding-left: pxToRem(144px);
	margin-top: pxToRem(120px);
	margin-bottom: pxToRem(300px);
	max-width: 1500px;

	.linksWrapper,
	.overviewWrapper,
	.challengesWrapper,
	.approachWrapper,
	.resultsWrapper {
		margin-bottom: pxToRem(64px);
	}

	h1 {
		font-size: 50px;
		margin-bottom: pxToRem(36px);
	}

	.roleDateWrapper {
		margin-bottom: pxToRem(18px);

		@include flexbox();
		@include justify-content(space-between);

		p {
			font-weight: 700;
		}
	}

	.linksWrapper {
		@include flexbox();
		@include justify-content(space-between);
		margin-top: 15px;
	}

	.projectImageWrapper {
		width: 100%;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.overviewWrapper,
	.technologysWrapper {
		margin-bottom: pxToRem(60px);

		h2 {
			color: $txt-light-100;
			font-size: 20px;
			font-weight: 700;
			margin-bottom: pxToRem(43px);
		}
	}

	.uppercase {
		text-transform: uppercase;
	}

	.colorHighlight {
		color: $txt-highlight-100;
	}

	@include breakpoint(m) {
		padding-left: pxToRem(105px);

		.linksWrapper,
		.overviewWrapper,
		.challengesWrapper,
		.approachWrapper,
		.resultsWrapper {
			margin-bottom: pxToRem(120px);
		}

		h1 {
			margin-bottom: pxToRem(90px);
		}
	}

	@include breakpoint(s) {
		width: 95%;
		padding-left: pxToRem(80px);
		h1 {
			font-size: 40px;
			margin: 80px 0 50px;
		}
	}
	@include breakpoint(xs) {
		.linksWrapper,
		.overviewWrapper,
		.challengesWrapper,
		.approachWrapper,
		.resultsWrapper {
			margin-bottom: pxToRem(250px);
		}

		h1 {
		}
	}
}
