@use '../../sass/abstracts/' as *;

.navbar {
	width: 100vw;
	@include flexbox();
	@include justify-content(space-around);
	@include align-items(center);
    padding-bottom: pxToRem(31px);

    .navbarLinks{
        width: 65%;
        @include flexbox();
        @include justify-content(space-around);
        @include align-items(center);
    }
}
