@use '$/abstracts/' as *;

.burgerShade {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 1;
}

.progressBar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 10px;
	background-color: $txt-highlight-100;
	z-index: 5;
	-webkit-transform-origin: 0%;
	-ms-transform-origin: 0%;
	transform-origin: 0%;
}

.navbar {
	width: 100vw;
	@include flexbox();
	@include justify-content(space-around);
	@include align-items(center);
	padding-bottom: pxToRem(31px);

	.navbarLinks {
		width: 65%;
		@include flexbox();
		@include justify-content(space-around);
		@include align-items(center);
	}

	.burgerIcon {
		display: none;
		cursor: pointer;
	}

	.burgerContainer {
		display: none;
		@include flexbox(column);
		@include align-items(center);
		z-index: 2;
		margin-top: 70px;

		* {
			margin-bottom: 45px;
		}
	}
}

@include breakpoint(l) {
	.navbar {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		z-index: 3;

		@include flexbox(column);

		.navbarHeader {
			width: 100%;
			min-height: pxToRem(150px);
			background-color: $bg-color-menu;
			padding-left: pxToRem(50px);
			padding-right: pxToRem(50px);
			box-sizing: border-box;
			z-index: 3;

			@include flexbox();
			@include align-items(center);
			@include justify-content(space-between);

			.burgerIcon {
				display: block;
			}
		}

		.navbarLinks {
			display: none;
		}

		.burgerContainer {
			@include flexbox(column);
		}
	}
}

@include breakpoint(m) {
	.navbar {
		.navbarHeader {
			min-height: pxToRem(200px);
		}
	}
}

@include breakpoint(xs) {
	.navbar {
		.navbarHeader {
			min-height: pxToRem(300px);
		}
	}
}
