@use '../../sass/abstracts/' as *;
@use '../../sass/base/fonts/' as *;

.footer {
	width: 100%;
	margin-top: pxToRem(77px);

	.upLink,
	h6 {
		text-transform: uppercase;
	}

	.upLinkWrapper {
		display: inline-block;
		margin-left: pxToRem(144px);
		margin-bottom: pxToRem(28px);
	}

	.middleContent {
		padding-left: pxToRem(144px);
		min-height: 165px;
		max-width: 800px;
		@include flexbox();
		@include justify-content(space-between);

		img {
			margin-right: pxToRem(372px);
		}
		.middleSeparator {
			@include flexbox(row);
			.contactWrapper,
			.sitemap {
				@include flexbox(column);
				@include justify-content(space-around);
				margin-right: pxToRem(94px);

				h6 {
					font-size: 20px;
					font-weight: 700;
				}
				div {
					@include flexbox(column);
					line-height: 28px;
					font-family: $font-header;
				}
			}
		}
	}

	.bottomContent {
		padding: 0px pxToRem(63px);
		margin-top: pxToRem(50px);
		margin-bottom: pxToRem(36px);
		@include flexbox();
		@include justify-content(space-between);

		.logoWrapper {
			@include flexbox();
			@include align-items(center);

			img {
				margin-right: pxToRem(10px);
			}
		}

		.legal {
			a {
				color: $txt-blue;
				font-size: 18px;
				font-family: $font-txt;
			}
			a:first-child {
				margin-right: pxToRem(92px);
			}
		}
	}

	@include breakpoint(l) {
		.middleContent {
			@include justify-content(flex-start);

			& > :first-child {
				margin-right: pxToRem(300px) !important;
			}
		}
	}

	@include breakpoint(m) {
		.upLinkWrapper {
			margin-left: pxToRem(105px);
			margin-bottom: pxToRem(100px);
		}
		.middleContent {
			padding-left: pxToRem(105px);
			& > :first-child {
				margin-right: pxToRem(200px) !important;
				display: block;
			}
		}
	}
	@include breakpoint(s) {
		.upLinkWrapper {
			margin-left: pxToRem(80px);
			margin-bottom: pxToRem(130px);
		}
		.middleContent {
			padding-left: pxToRem(80px);
			& > :first-child {
				display: none !important;
			}
		}
		.bottomContent {
			@include justify-content(flex-end);
			.logoWrapper {
				display: none;
			}
		}
	}

	@include breakpoint(xs) {
		.middleContent {
			.middleSeparator {
				width: 100%;
				@include justify-content(space-between);
			}
		}
		.bottomContent {
			@include justify-content(center);
			margin: 30px 0 40px;
		}
	}
}
