@use '../../sass/abstracts/' as *;
@use '../../sass/base/fonts/' as *;

.footer {
	width: 100%;
	margin-top: pxToRem(77px);

	.upLink,
	h6 {
		text-transform: uppercase;
	}

	.upLinkWrapper {
		display: inline-block;
		margin-left: pxToRem(144px);
		margin-bottom: pxToRem(28px);
		
	}

	.middleContent {
		padding-left: pxToRem(144px);
		@include flexbox();

		img {
			margin-right: pxToRem(372px);
		}

		.contactWrapper,
		.sitemap {
			@include flexbox(column);
			@include justify-content(space-around);
			margin-right: pxToRem(94px);

			h6 {
				font-size: 20px;
				font-weight: 700;
			}
			div {
				@include flexbox(column);
				line-height: 28px;
				font-family: $font-header;
			}
		}
	}

	.bottomContent {
		padding: 0px pxToRem(63px);
		margin-top: pxToRem(50px);
		margin-bottom: pxToRem(36px);
		@include flexbox();
		@include justify-content(space-between);

		.logoWrapper {
			@include flexbox();
			@include align-items(center);

			img {
				margin-right: pxToRem(10px);
			}
		}

		.legal {
			a {
				color: $txt-blue;
				font-size: 18px;
				font-family: $font-txt;
			}
			a:first-child {
				margin-right: pxToRem(92px);
			}
		}
	}
}
