@use '$/abstracts/' as *;

.navigationButton {
	cursor: pointer;
	background: none;
	border: none;
	&.normal,
	&.underlined {
		color: $txt-yellow;
		text-transform: uppercase;
	}

	&.normal::after {
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background: $txt-yellow;
		-webkit-transition: width 0.3s;
		-o-transition: width 0.3s;
		transition: width 0.3s;
	}

	&.normal:hover::after {
		width: 100%;
		-webkit-transition: width 0.3s;
		-o-transition: width 0.3s;
		transition: width 0.3s;
	}

	&.normalSmall {
		text-transform: capitalize;
		color: $txt-light-50;
		font-size: 16px;
	}

	&.underlined {
		font-size: 20px;
		font-weight: 700;
		-webkit-text-decoration: 1px underline;
		text-decoration: 1px underline;
		text-underline-position: under;
		line-height: 30px;
		-webkit-transition: -webkit-text-decoration 0.3s;
		transition: -webkit-text-decoration 0.3s;
		-o-transition: text-decoration 0.3s;
		transition: text-decoration 0.3s;
		transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;

		&:hover {
			-webkit-text-decoration: 3px underline;
			text-decoration: 3px underline;
		}
	}

	&.uppercaseBlue {
		color: $txt-blue;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: normal;
	}

	&.uppercaseFatBlue {
		color: $txt-blue;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 16px;
		white-space: nowrap;
	}
}

@keyframes hover {
	50% {
		transform: translateY(-3px);
	}

	100% {
		transform: translateY(-6px);
	}
}

.navigationButton {
	&.uppercaseBlue,
	&.uppercaseFatBlue {
		display: inline-block;
		transition-duration: 0.5s;
		transition-property: transform;

		&:hover {
			transform: translateY(-6px);
			animation-name: hover;
			animation-duration: 1.5s;
			animation-delay: 0.3s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
	}
}
